body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: rgb(181, 90, 90);
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: rgb(219, 219, 114);
  padding: 10px;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

main {
  background-color: rgb(167, 228, 167);
  padding: 20px;
}

article {
  background-color: rgb(157, 157, 219);
  color: white;
  margin-bottom: 20px;
  padding: 15px;
  border: 3px solid rgb(122, 208, 208);
}

footer {
  background-color: rgb(233, 156, 233);
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 24px;
}
