.histogram {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey-3);
    padding: 16px 24px 24px;
    border-radius: 8px;
    gap: 39px;
}

.histogram__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4px;
}

.histogram__orders {
    display: flex;
    flex-direction: column;
    gap: 6px
}

.histogram__title {
    opacity: 0.8;
}

.histogram__link {
    margin-top: 3px;
    color: var(--primary);
    text-decoration: none;
}

.histogram__chart {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    gap: 1px;
    height: 50px;
}

.histogram__bar {
    background-color: var(--primary);
    flex: 1 0 auto;
}

.histogram__bar_h20 {
    height: 20%;
}

.histogram__bar_h40 {
    height: 40%;
}

.histogram__bar_h60 {
    height: 60%;
}

.histogram__bar_h80 {
    height: 80%;
}