@import '../fonts/fonts.css';
@import './modern-normalize.css';

:root {
    --unit: 4px;
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple-1: #7048E8;
    --purple-2: #5028C6;
    --blue-1: #374FC7;
    --blue-2: #2342C0;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    /* font-sizes */
    --font-size-title-xl: 50px;
    --font-size-title-l: 38px;
    --font-size-title-m: 28px;
    --font-size-title-s: 20px;

    --font-size-text-m: 16px;
    --font-size-text-s: 14px;

    /* font-weight */
    --font-weight-regular: 500;

    --error: var(--red);
    --success: var(--blue-1);

    --primary: var(--blue-1);
    --secondary: var(--purple-1);
    --primary-hover: var(--blue-2);
    --secondary-hover: var(--purple-2);
}

* {
    font-family: 'Roboto', sans-serif;
}
