.skeleton {
    display: flex;
    flex-flow: column wrap;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    gap: 24px;
    padding: 24px 40px 32px 24px;
}

.skeleton__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.skeleton__avatar {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: var(--grey-2);
}

.skeleton__items {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    gap: 8px;
}

.skeleton__item {
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__item_w40 {
    width: 40%;
}

.skeleton__item_w60 {
    width: 60%;
}